{% extends "base.html" %}

{% block title %}Mobs List{% endblock %}


{% block header %}
<section id="breadcrumb" class="bg-white">
    <div class="container col-10 mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Mobs List</li>
            </ol>
        </nav>
    </div>
</section>
{% endblock %}

{% block content %}

<!-- <h2>Mobs</h2> -->
<section id="table" class="bg-light">
    <div class="container col-10 py-5">
        <div class="text-start">
            <h2>Mobs List</h2>
            <p class="lead text-muted">Key Metrics for Mobs Management</p>
            <a href="{{ url_for('move_mob',from=request.path) }}" class="btn btn-success">Move Mobs</a>
        </div>
        <div class="mt-5 table-responsive">
            <table class="table text-center table-hover">
                <thead>
                    <tr class="table-secondary align-middle">
                        <th>Mob ID</th>
                        <th>Mob Name</th>
                        <th>Stock Number</th>
                        <th>Paddock Name</th>
                        <th>Dm/ha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mob in mobs%}
                        {% if mob[6] %}
                    <tr>
                        <td>{{mob[6]}}</td>
                        <td>{{mob[5]}}</td>
                        <td>{{mob[7]}}</td>
                        <td>{{mob[1]}}</td>
                        <td>{{mob[3]}}</td>
                    </tr>
                        {% else %}

                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</section>
    <!-- <table>   
        <tr>
            <th>Mob ID</th>
            <th>Mob Name</th>
        </tr>
        {% for mob in mobs %}  
            <tr>
                <td>{{mob[0]}}</td>  
                <td>{{mob[1]}}</td>  
            </tr>
        {% endfor %}    
    </table> -->

{% endblock %}